* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;

}

.top-section{
    background-color: #000;
    height: 500px;

}

header {
    /* height: 670px; */
    justify-content: center;
}

nav {
    display: flex;
    align-items: centre;
    height: 100px;
}

 nav li{
     list-style: none;
     justify-content: space-between;
 }

 nav a{
     text-decoration: none;
     color: white;
 }
 nav ul{
     margin-left: 5%;
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
      
 }

.img-logo{
    height: 30px;
    margin: auto; 

 }

ul button{
    background-color: rgb(48, 45, 45);
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: none;
    margin-left: 4px;
}

.info{
    height: 520px;
    width: 100%;
    background-color: white;
    margin: 0 auto;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.text{
    height:70%;
    width: 35%;
    border: 1px rgb(54, 27, 27);
    display: inline-block;
    margin:100px 50px 0px 0px;
}

.image{
    height:90%;
    border: 1px rgb(62, 238, 18);
    display: inline-block;
    margin:20px 50px 0px 10px;
}

.product{
    font-size: 2vw;
    margin-bottom: 0;
}

.text button{
    background-color: #F46632;
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 8px;
    margin: 60px auto;
    color: white; 

}

.section2{
    background-color: #FAFAFA;
    height: 1000px;
    position: relative;
    /* z-index: -1; */

}

.floating-white{
    margin-top: 30%;
    height: 400px;
    width: 80%;
    position: absolute;
    background:white;
    border-radius: 25px;
    border: 1px solid red;
    
}

.info p{
    margin-top: 30px;
    line-height: 40px;
}

.factory-content{
    height: 65%;
    margin-left: 10%;
    margin-bottom:-10%;
    position: absolute;
    margin-top: -10%
}
 
.bigDiv{
    float:right;
    border: 1px solid green;
    margin-right:20%;
    margin-top: 30px;
    height:20%;
    width: 20%;
}